@{
    ViewData["Title"] = "Home Page";
}

<div id="HomePage" class="align-self-center">
    <h2 class="text-center">Greetings, administrator.</h2>

    <hr />

    <div class="row text-center m-0 justify-content-around">

        <div class="display-item col-12 col-md-5 pt-3 pb-3">
            <h4>View All Assets</h4>
            <p>Display a list of currently tracked assets.</p>
            <a class="btn btn-primary" href="@Url.Action("Index", "Asset")">View Assets</a>
        </div>

        <div class="display-item col-12 col-md-5 pt-3 pb-3">
            <h4>Add New Assets/Asset Types</h4>
            <p>Add new records to the database.</p>
            <div class="d-flex flex-row justify-content-around">
                <a class="btn btn-primary" href="@Url.Action("AddAsset", "Asset")">Add Asset</a>
                <a class="btn btn-primary" href="@Url.Action("AddAssetType", "AssetType")">Add Asset Type</a>
            </div>
        </div>

    </div>
</div>